.project
.settings/
.classpath
target/
.DS_Store
*.iml
atlassian-ide-plugin.xml
.idea
.idea/checks-style.xml
.vlt
.sass-cache
.derived
dependency-reduced-pom.xml
*.releaseBackup
*.releaseBackup
release.properties
*.log
.repository/
.serverDef/
.run